
<style>
        body {background-color: rgb(138, 5, 5);}
        h2   {color: rgb(101, 101, 223);}
        h3   {color:violet;}
        h4   {color: pink;}
        h5  {color: yellow;}
        h6   {color: greenyellow;}
</style>