@using Blazorise;
@using static XploringMe.BlazorApp.Components.Shared.CustomIcon

<header>
    <nav class="navbar-expand-sm navbar-toggleable-sm box-shadow fixed-top navbar navbar-light"
         style="background-image: linear-gradient(to right, #4f7d99,#4f7d99, #4f7d99);">
        <div class="box-container container">
            <a class="navbar-brand ms-3" href="/">
                <img src="/images/icon.jpeg" height="30" width="30" alt="Logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" onclick="document.querySelector('navbarSupportedContent').click()">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/" Match="Microsoft.AspNetCore.Components.Routing.NavLinkMatch.All">
                            <CustomIcon Name="IconType.Dashboard" Class="icon-menu" />
                            Dashboard
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/transaction-accounts">
                            <CustomIcon Name="IconType.Account" Class="icon-menu" />
                            Account
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/categories">
                            <CustomIcon Name="IconType.Category" Class="icon-menu" />
                            Cats & Tag
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/budget">Budget</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/recurring-payments">
                            <CustomIcon Name="IconType.Invoice" Class="icon-menu" />
                            Recurring Payments
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/transactions">
                            <CustomIcon Name="IconType.Transaction" Class="icon-menu" />
                            Transactions
                        </NavLink>
                    </li>
                </ul>
                <div class="d-flex">
                   <LoginDisplay/>                    
                </div>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
